.detail{
    width: 100%;
    padding-top: 20px;
}
.detail-intro{
    height: 60px;
    color: #888888;
    padding: 10px;
    margin-top: 10px;
    line-height: 23px;
    background:#F6F6F6;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
}
.detail-intro>i{
    font-style: normal;
    font-weight: bold;
    color: #333333;
    margin-right: 10px;

}
.detail-comments{
    padding-bottom: 40px;
}
.detail-comments>ul>li{
    margin: 10px 10px;
    padding: 10px 10px;
    border-bottom: #ececec 1px solid;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.detail-comments>ul>li>div{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.detail-comments>ul>li>div>span:first-child{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
    margin-right: 10px;
}
.detail-comments>ul>li>div>span>img{
    width: 50px;
    height: 50px;
}
i{
    font-style: normal;
}
.detail-comments>ul>li>div>span>i{
    display: block;
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: 10px;
}
.detail-comments>ul>li>div>span>p{
    font-size: 15px;
}
.detail-comments>ul>li>i{
    color: #999;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    margin-top: -44px;
}
.saying {
    line-height: 30px;
    color: #a9a6a6;
}
.saying>span{
    float: right;
}
.saying>span>a {
    color: #de1513!important;
}
.yname{
    margin: 10px 10px 10px 0;
}
.yzm{
    margin: 10px 10px 10px 0;
}
textarea{
    width: 100%;
}
input[type="submit"] {
    display: block;
    background: #040404;
    color: #fff;
    border: 0;
    line-height: 30px;
    padding: 0 20px;
    border-radius: 5px;
    float: right;
}
input[type="submit"]::after{
    clear: both;
}